#about-me{
    padding: 20px 0;
}


#about-me .title{
    position: relative;
    width: 240px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}


#about-me .title h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFAB00;
    z-index: 1;
    position: relative;
    letter-spacing: 4px;
}

#about-me .about-me-container{
    padding: 10px 80px;
    
}

#about-me .about-me-container .test-center{
    background: #4E4DD1;
    padding: 60px;
    --webkit-box-shadow: 0px 8px 19px 6px rgba(2,2,2,1);
    -moz-box-shadow: 0px 8px 19px 6px rgba(2,2,2,1);
    box-shadow: 0px 8px 19px 6px rgba(2,2,2,1);

}

#about-me .about-me-container .test-center .header{
    display: flex;
    padding-bottom: 50px;
    
    
}

#about-me .about-me-container .test-center .header .image{
    width: 150px;
    height: 150px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; 
}

#about-me .about-me-container .test-center .header .image img{
    width: 150px;
    
     
}

#about-me .about-me-container .test-center .header .info1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
     
}

#about-me .about-me-container .test-center .header .info1 h4{
    color: #0be1c1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-size: 2rem; 
}

#about-me .about-me-container .test-center .header .info1 span{
    color: #fd1056;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    letter-spacing: 2px;
    font-size: 1.5rem; 
}

#about-me .about-me-container .test-center p{
    color: #CFD8DC;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.7;
    font-size: 1.2rem; 
}


/*Tablets */

@media only screen and (max-width: 960px){
    #about-me .about-me-container {
        padding: 10px 60px;
    }
    
}
/*Phones */

@media only screen and (max-width: 767px){
    #about-me .about-me-container .test-center{
        background: #4E4DD1;
        padding: 20px;
        --webkit-box-shadow: 0px 8px 19px 6px rgba(2,2,2,1);
        -moz-box-shadow: 0px 8px 19px 6px rgba(2,2,2,1);
        box-shadow: 0px 8px 19px 6px rgba(2,2,2,1);
    
    }
    #about-me .about-me-container .test-center .header .image{
        display: none;
    }

    #about-me .about-me-container .test-center .header .info1 h4{
        
        font-size: 1rem; 
    }
    
    #about-me .about-me-container .test-center .header .info1 span{
        
        font-size: 0.8rem; 
    }
    
    #about-me .about-me-container .test-center p{
       
        font-size: 0.7rem; 
    }
}
