@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import "style.css";
@import "top.css";
@import "skills.css";
@import "project.css";
@import "education.css";
@import "about-me.css";
@import "footer.css";
@import "./portfolioCss/port.css";

body {
    background-color: #1B1661;
      
}

.container{
    padding: 20px 70px;
    
    
}

nav{
    display: flex;
    padding: 9px;
    justify-content: space-between;
    background-color: #4E4DD1;
}


nav .logo{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 15px 20px;
    
}

nav a{
    text-decoration: none;
    color: white;
}



nav a:hover{
    color: #FFAB00;
    
    
}

nav .header-menu{
    font-size: 1rem;
    text-decoration: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
nav .header-menu a{
    font-size: 1rem;
    text-decoration: uppercase;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    transition: all .3s ease-in-out;
}

nav .header-menu a:hover{
    color: #FFAB00;
}

nav .menu-button{
    color: #FFAB00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 10;
    transform: translate3d(-100%, 0, 0);
    transition: all .4s ease-in-out;
    
}

.mobile-menu.active{
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0px 2px 27px 14px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 27px 14px rgba(0,0,0,1);
    box-shadow: 0px 2px 27px 14px rgba(0,0,0,1);
}

.mobile-menu a{
    padding: 15px;
    text-decoration: none;
    color: white;
}


.mobile-menu a:hover{
    padding: 15px;
    text-decoration: none;
    color: #FFAB00;
}

@media only screen and (max-width: 960px) {
    
}

/* Phones */

@media only screen and (max-width: 767px) {
    nav .header-menu{
        display: none;
    }

    nav .menu-button{
        display: flex;
    }
}
