#projects{
    padding: 80px 15px;
}

#projects .title{
    position: relative;
    width: 240px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*#projects .title .square{
    background: #409cce;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 23px;
}*/

#projects .title h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #0be1c1;
    z-index: 1;
    position: relative;
    letter-spacing: 4px;
}

#projects .project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px;
} 

#projects .project-container .box{
    background: black;
    display: block;
    transition: all .4s ease-in-out;
    cursor: pointer;
    width: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}
#projects .project-container .box:hover{
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 10px 30px 7px rgba(3,1,3,1);
    -moz-box-shadow: 0px 10px 30px 7px rgba(3,1,3,1);
    box-shadow: 0px 10px 30px 7px rgba(3,1,3,1);
}

#projects .project-container .box .image .hover-bg{
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0);
    transition: all .4s ease-in-out;
    height: 100%;
    width: 100%;
}

#projects .project-container .box:hover .image .hover-bg{
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.6);
   
    
}

#projects .project-container .box .image .hover-bg .title{
    height: 100%;
    width: 100%;
    
}

#projects .project-container .box .image .hover-bg .title .text{
    background: black;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translate3d(0, 400px, 0);
    transition: all .5s ease-in-out;
    opacity: 0;
    
}

#projects .project-container .box:hover .image .hover-bg .title .text{
    background: black;
    border-radius: 5px;
    padding: 10px 20px;
    transform: translate3d(0, 0, 0);
    opacity: 1;

}

/* Box Locations */

#projects .project-container .box.image1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#projects .project-container .box.image1 .image{
    background: url(../img/Psoon.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#projects .project-container .box.image2{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#projects .project-container .box.image2 .image{
    background: url(../img/Psoon.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#projects .project-container .box.image3{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#projects .project-container .box.image3 .image{
    background: url(../img/Psoon.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#projects .project-container .box.image4{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#projects .project-container .box.image4 .image{
    background: url(../img/Psoon.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#projects .project-container .box.image5{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

#projects .project-container .box.image5 .image{
    background: url(../img/Psoon.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

#projects .project-container .box.image6{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

#projects .project-container .box.image6 .image{
    background: url(../img/Psoon.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

/*Tablets */

@media only screen and (max-width: 960px){
    #projects .project-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-gap: 10px;
    } 

    #projects .project-container .box.image1{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #projects .project-container .box.image2{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    #projects .project-container .box.image3{
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }

    #projects .project-container .box.image4{
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }

    #projects .project-container .box.image5{
        grid-column: 1 / 2;
        grid-row:  5 / 7;
    }

    #projects .project-container .box.image6{
        grid-column: 2 / 3;
        grid-row: 5 / 7;
    }
}
/*Phones */

@media only screen and (max-width: 767px){
    #projects .project-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-gap: 10px;
    } 

    #projects .project-container .box.image1{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    #projects .project-container .box.image2{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    #projects .project-container .box.image3{
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #projects .project-container .box.image4{
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    #projects .project-container .box.image5{
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    #projects .project-container .box.image6{
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }
}

