#top {
    padding: 80px, 0;
    background-color: #1B1661;
}

#top .container1 {
    position: relative !important;
    height: 100vh;

}

#top canvas,
.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
}

/*#top canvas {
    border: 1px solid red;
}*/


.info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    align-items: center;
    justify-content: center;


}


.info h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #029FFF;
    /*text-shadow: 4px 4px #000000;*/
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;
}

.info p {
    color: white;
    text-transform: capitalize;
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;
    font-size: 1.4rem;
}

.info a {
    color: #0be1c1;
    text-transform: uppercase;
    font-weight: 600;
    font-weight: .9rem;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px dashed #0be1c1;
    z-index: 1;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 2px;
}



/*Tablets */

@media only screen and (max-width: 960px) {
    #top .container {
        padding: 0 0 80px;
    }

    #top .info .art {
        display: initial;
    }

    #top .img .backgroung-img {
        height: 100vh;
    }
}

/*Phones */

@media only screen and (max-width: 767px) {
    #top .container {
        padding: 0 0 80px;
    }

    #top .info .art {
        display: none;
    }

    #top .img .backgroung-img {
        height: 100vh;
    }

    .info h1 {
        font-size: 3rem;

    }
}
