#portfolioProjects {
    padding: 60px 15px;
}

#portfolioProjects .project-image {
    display: flex;
    justify-content: center;
}

#portfolioProjects .project-image .img {
    
    

}

#portfolioProjects img {
    max-width: 80vw;
}

#portfolioProjects h1 {
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
    margin: 1.5rem;
}

#portfolioProjects .pinfo .buttons {
    padding: 20px;
}

#portfolioProjects .pinfo .buttons a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    background: red;
    text-decoration: none;
    text-transform: capitalize;
}

#portfolioProjects p {
    display: inline-block;
    border-radius: 3px;
    color: #929294;
    font-size: 1.2rem;
    line-height: 1.7;
    text-decoration: none;
    margin: 1.5rem;
    text-transform: capitalize;
}

#portfolioProjects .technologies {}

#portfolioProjects .technologies h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1.5rem;
    text-transform: uppercase;
}

#portfolioProjects .technologies .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

#portfolioProjects .technologies .icons .icon img {
    width: 100%;
    max-width: 150px;

}
